@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;600;700&display=swap");
@import url("reset.css");
@import url("variables.css");

/*Screens*/
@import url("screens/login.css");
@import url("screens/friends.css");

/* Components */
@import url("components/badge.css");
@import url("components/status-bar.css");
@import url("components/nav-bar.css");
@import url("components/screen-header.css");
@import url("components/user-component.css");

body {
  font-family: "Open Sans", sans-serif;

  /* status-bar fixed 위치의 세로 길이 만큼 padding */
  padding-top: 30px;
  padding-bottom: 70px;
  /*특정 화면 크기에서 input 입력시 스크롤 점멸현상 제어를 위한 코드 */
  overflow-y: none;
  color: #2e363e;
}
