.music-content__singer-song-list {
  height: 15em;
  overflow-y: scroll;
  -ms-overflow-style: none;
  margin-top: 5%;

  padding: 0px 10px;
  border-radius: 15px;
}

.music-content__singer-song-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 2% 0.5% 2% 0.7%;
  border-radius: 15px;
}

.music-content__singer-song-list li > div > img {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.music-content__singer-song-list li div:first-child {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 28%;
  height: 28%;
  overflow: hidden;
  border-radius: 8px;
  margin: 4% 5%;
}

.music-content__singer-song-list li div:first-child > div {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
}

.music-content__singer-song-list li > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.music-content__singer-song-list li > div > span {
  width: 137px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.music-content__singer-song-list li > div:nth-child(2) span {
  line-height: 1.7;
}

.music-content__singer-song-list li > div:nth-child(2) span:first-child {
  font-size: 0.5em;
  font-weight: 700;
  opacity: 0.5;
}

.music-content__singer-song-list li > div:nth-child(2) span:nth-child(2) {
  font-size: 0.75em;
  font-weight: 800;
}

.music-content__singer-song-list li > i {
  margin: 0px 8%;
  opacity: 0.4;
}

li.playing > div:first-child > .music-content__singer-song-play {
  display: flex;
}

.music-content__singer-song-list li:hover {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}
.music-content__singer-song-list li:hover .music-content__singer-song-play {
  display: flex;
}
