@import "reset.css";
@import "screen/header.css";
@import "screen/main.css";

body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper {
  width: 500px;
}

header,
main {
  padding: 0px 15px;
  box-sizing: border-box;
}

@media screen and (max-width: 500px) {
  .wrapper {
    width: 100vw;
  }
}
